html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0
}

h1 {
  font-size: 2.5rem;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
input {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

button {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

ul {
  font-size: 2rem;
  text
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
